{% extends '../blocks/base.html' %}

{% block title %}
FoodShip | SignIn
{% endblock title %}


{% block css %}
<link rel="stylesheet" href="/static/css/form.css">
{% endblock css %}

{% block body %}
<section id="authForm" class="section w-full flex justify-center items-center mb-16" style="min-height: 100vh">
    <div class="shadow-lg rounded-lg p-10">
        <h2 class="f-bold text-5xl capitalize">sign in</h2>
        <form action="" method="post" class="mt-8">
            {% csrf_token %}
            <div class="grid grid-cols-2 gap-4 input-box">
                <div class="input-box flex-col items-start justify-start" style="width: 100%;">
                    <input type="text" name="fname" value="{{fname}}" placeholder="First Name" class="w-full border form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                    <p class="error f-light text-lg">{{fnameErr}}</p>
                </div>
                <div class="input-box flex-col items-start justify-start" style="width: 100%;">
                    <input type="text" name="lname" value="{{lname}}" placeholder="Last Name" class="w-full border form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                    <p class="error f-light text-lg">{{lnameErr}}</p>
                </div>
            </div>
            <div class="input-box my-4 flex-col items-start justify-start">
                <input type="text" name="email" value="{{email}}" placeholder="Email" class="w-full border form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                <p class="error f-light text-lg">{{emailErr}}</p>
            </div>
            <div class="input-box my-4 flex-col items-start justify-start">
                <input type="password" name="password" value="{{password}}" placeholder="Password" class="w-full border form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                <p class="error f-light text-lg">{{passwordErr}}</p>
            </div>
            <div class="input-box my-4 flex-col items-start justify-start">
                <input type="password" name="cpassword" value="{{cpassword}}" placeholder="Confirm Password" class="w-full border form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                <p class="error f-light text-lg">{{cpasswordErr}}</p>
            </div>
            <div class="my-6 flex items-center justify-between" style="width: 435px;">
                <input type="checkbox" class="mr-3 cursor-pointer" id="agree" checked>
                <label for="agree" class="text-sm f-light cursor-pointer">I agree to <span
                        style="color: #f43f5e;">FoodShip's</span> Terms of Service, Privacy Policy and Content
                    Policies</label>
            </div>
            <div class="input-box my-8 text-center">
                <p class="f-light text-xl">Have an account ? <a href="{% url 'logIn' %}" style="color: #e11d48; text-decoration: underline;">Log In</a></p>
            </div>
            <button type="submit" class="my-btn1 w-full">SignIn</button>
        </form>
    </div>
</section>
{% endblock body %}