<footer class="py-4 px-16">

    <div class="flex justify-between items center py-8">
        <div><a href="/" class="f-logo text-3xl">FoodShip</a></div>
    </div>

    <div class="flex items-center justify-between f-light text-xl">
        <ul>
            <li><a href="#">who are we</a></li>
            <li><a href="#">blogs</a></li>
            <li><a href="#">work with us</a></li>
            <li><a href="#">report fraud</a></li>
            <li><a href="#">contact us</a></li>
        </ul>
        <ul>
            <li><a href="#">privacy</a></li>
            <li><a href="#">security</a></li>
            <li><a href="#">terms and conditions</a></li>
            <li><a href="#">sitemap</a></li>
        </ul>
        <ul>
            <li><a href="#">view restaurants</a></li>
            <li><a href="#">order food</a></li>
            <li><a href="#">Partner With Us</a></li>
        </ul>
    </div>

    <hr class="my-6">

    <div class="f-light text-base py-4 text-center">
        <p>By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners.</p>
        <p>©FoodShip™ Ltd | All rights reserved</p>
    </div>

</footer>